[submodule "c++/third_party/leveldb"]
	path = c++/third_party/leveldb
	url = https://github.com/google/leveldb.git
[submodule "c++/third_party/googletest"]
	path = c++/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "c++/httpclient/liburlparse"]
	path = c++/httpclient/liburlparse
	url = https://github.com/Assualt/liburlparse.git
[submodule "c++/third_party/liburlparse"]
	path = c++/third_party/liburlparse
	url = https://gitee.com/shydo/liburlparse.git
[submodule "ssp/third_party/googletest"]
	path = ssp/third_party/googletest
	url = https://gitee.com/shydo/googletest.git
[submodule "ssp/third_party/openssl"]
	path = ssp/third_party/openssl
	url = https://gitee.com/mirrors/openssl.git
